<!DOCTYPE html>
<html lang="en" class="has-background-dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    {{!-- <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css"> --}}
</head>
    
<body>

    <header class="level mt-3 is-size-4-mobile is-size-3-tablet is-size-1-desktop">
            <a href="/" class="link is-info level-item has-text-centered has-text-light"><h1>Climb of Death</h1></a>
    </header>

    <nav class="level">
        {{#if loggedIn}}
            <div class="level-item has-text-centered is-size-6-mobile is-size-4-tablet is-size-3-desktop">
                <a class="link is-info has-text-light mx-2" id="logout">Log Out</a>
            </div>
            {{else}}
            <div class="level-item has-text-centered is-size-6-mobile is-size-4-tablet is-size-3-desktop">
                <a href="/login" class="link is-info has-text-light mx-2">Log In</a>
                <a href="/signup" class="link is-info has-text-light mx-2">Sign up</a>
            </div>
            {{!-- <div class="level-item has-text-centered"></div> --}}
        {{/if}}
            
        {{!-- <header class="level-item has-text-centered">
            <a href="/" class="link is-info"><h1>Climb of Death</h1></a>
        </header> --}}
    </nav>
    
{{!-- <div id="title">
    <h2>Only the Bravest will survive</h2>
</div> --}}

    <main>
        {{{ body }}}
    </main>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>

{{!-- <body>
    <div class="main-heading">
        <div class="sub-heading">
            <nav>
                {{#if loggedIn}}
                    <a id="logout">Log Out</a>
                    {{else}}
                    <a href="/login" id="Log-in">Log In</a>
                    <a href="/signup">Sign up</a>
                {{/if}}
            </nav>
        </div>
        <div>
            <header class="main-heading">
                <a href="/" class="home"><h1>Climb of Death</h1></a>
            </header>
        </div>
    </div>
<div id="title">
<h2>Only the Bravest will survive</h2>
</div>

    <main class="content">
        {{{ body }}}
    </main>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body> --}}