<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" type="text/css" href="/css/jass.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
    
<body>
    
    <nav>
        {{#if loggedin}}
            <a href="/logout">Log Out</a>
            {{else}}
            <a href="/login" class="">Log In</a>
            <a href="/signup" class="">Sign up</a>
        {{/if}}
    </nav>

    <header class="main-heading">
        <h1>Climb of Death</h1>
        <h2>Only the Bravest will survive</h2>
    </header>

    <main class="content">
        {{{ body }}}
    </main>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>