<section class="flex-row justify-center">
    {{scenario.content}}
</section>

<section class="menu-container">  
  {{#each scenario.choices}}
    <section class="dish col-md-5">
        <button>{{choice}}</button>
    </section> 
  {{/each}}
</section>