<article class="columns is-centered mx-1">
    <div class="column is-half-desktop is-three-quarters-tablet has-text-light has-text-centered mx-2 is-size-6-mobile is-size-5-tablet is-size-4-desktop">
      {{scenario.content}}
    </div> 
</article>


  {{#each scenario.choices}}
  <div class="columns is-centered mx-3 my-2">
    <a class="column is-half-desktop is-three-quarters-tablet has-background-light" href="/gamepage/{{child_scenario_id}}">
      <div class="is-flex-wrap is-size-6-mobile is-size-5-tablet is-size-4-desktop">
        <div class="has-text-info has-text-centered">
          {{choice}}
        </div>
      </div>
    </a>
  </div>    
  {{/each}}


  {{#if gameEnd}}
    <section class="dish col-md-5">
        <a href="/gamepage" class="button">Start Over</a>
    </section> 
  {{/if}}


