<section class="container">
  
  <section>
    <h1 class="">Only the Bravest will survive!!! </h1>
  </section>

  <section class="flex-row justify-center">
    {{scenario}}
  </section>
</section>
<sec class="menu-container">
 
  
  {{#each choices}}

    <sec class="dish col-md-5">
        <button>{{choice}}</button>
    </sec>
    
  {{/each}}
</sec>