<section class="flex-row justify-center">
    {{scenario.content}}
</section>

<section class="menu-container">  
  {{#each scenario.choices}}
    <section class="dish col-md-5">
        <a href="/gamepage/{{child_scenario_id}}" class="button">{{choice}}</a
    </section> 
  {{/each}}
</section>