<section class="scenario columns is-centered">
    <div class="column is-half-desktop is-three-quarters-tablet has-text-light has-text-centered mx-2 is-size-6-mobile is-size-4-tablet is-size-3-desktop">
        <p>
            Hello, welcome to our second project.    
        </p>
        <p class="title is-size-5-mobile is-size-3-tablet is-size-2-desktop has-text-light">Climb of Death</p>
        <p>
            This is a full-stack application in which we created a create-your-own-adventure game. To access it, log in or sign up.     
        </p>
        <p>
            Enjoy!
        </p>
        <a href="/login">
            <button class="button is-link is-outlined has-text-light is-large is-responsive mt-5">
                Log In
            </button>
        </a>
    </div> 
</section>
{{!-- <audio src="Windy Trees Blowing Mono A2-www.FesliyanStudios.com.mp3" autoplay loop>qwe</audio> --}}
<section>
    
</section>