<section>
    <p>
        Hello, welcome to our second project. This is a full-stack application in which we created a create-your-own-adventure game. To access it, log In or Sign Up. Enjoy!     
    </p>
    <br>
   
</section>
<section><button href="/login">Log In</button></section>