<section>
    <p class="until-widescreen">
        Hello, welcome to our second project. This is a full-stack application in which we created a create-your-own-adventure game. To access it, log In or Sign Up. Enjoy!     
    </p>
    <br>  
</section>

<section>
    <a href="/login">
        <button class="mobile button is-danger is-large is-outlined">
            Log In
        </button>
    </a>
</section>