<form class="login-form">
    <label class="label" for="username-login">Username:</label><br>
    <input type="text" id="username-login" class="input" placeholder="Username"><br>
    <label class="label" for="password-login">Password:</label><br>
    <input type="password" name="pwd" class="input" id="password-login" placeholder="Password">
    <div class="submitbtn">
        <button type="submit" class="submit button is-danger is-large is-outlined">Log In</button>
    </div>
    New here? <a href="/signup">Sign Up</a>
</form>

<script src="/js/login.js"></script>