html {
    background-color: rgb(16, 14, 14);
}

body{
    
    font-family: Nosifer;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

nav a {
    padding: 20px;
    color: white;
    font-size: 2rem;
    text-decoration: none;
}

nav a:hover {
    color: rgb(255, 0, 0);
}

.main-heading{
    text-align: center;
    color: aliceblue;
}

.sub-heading{
    font-size: medium;
}

section {
    display: flex;
    justify-content: center;
}

.paragraph{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 50px;
    border: 1px solid;
    border-radius: 10px;
    color: aliceblue;
}

.buttons{
    display: flex;
    justify-content: center;
}

.button1{
    border-radius: 5px;
    margin: 10px;
    padding:18px;
}

.button2{
    border-radius: 5px;
    margin: 10px;
    padding:10px;
}

.label{
    color: aliceblue;
}

.form{
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.submitbtn{
    display: flex;
    justify-content: center;
}

.input{
    border-radius: 5px;
}

.submit{
    border-radius: 5px;
    margin-top: 10px;
}

.choice{
    display: flex;
    justify-content: center;
}

.btn{
    color: aliceblue;
    border: 1px solid aliceblue;
    margin:5px;
}

.sub-heading{
    font-family: Nosifer;
}
/* handlebars */
/* .navbar{
    text-decoration: none;
} */

.main-heading{
    display: flex;
    justify-content: space-around;
}

.sub-heading{
    display: flex;
    justify-content: space-around;
}

#Log-in{
    padding-right: 425px;
}

#title{
    display: flex;
    justify-content: center;
}

#scenario{
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;
    margin-bottom: 50px;
    border-radius: 10px;
    color: white;
}

