.main-header {
    margin-bottom: 10px !important;
    font-family: 'Splash', 'Saira Stencil One', 'Kumar One', cursive;
}

.navigation { 
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.281);
    padding-bottom: 25px;
    font-family: Dosis;
}

.scenario{
    font-family: Dosis, lato;
    margin-top: 50px;
}

.title {
    font-family: Dosis, lato;
    font-weight: bold;
    margin: 10px 0 10px 0 !important;
}

.choices{
    border-radius:10px;
    box-shadow: 0 1px 2px 0 rgb(23, 112, 237), 0 2px 5px 0 rgba(20, 102, 196);
    border: 3px solid rgba(255, 255, 255, 0);
}

.choice{
    font-family: fira sans condensed, lato;
}

.choices:hover {
    border: 3px solid rgb(20, 102, 196);
 }

.forms {
    margin-top: 50px;
}

.dash {
    margin-top: 75px !important;
}