<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap" rel="stylesheet">
    <title>Landing page</title>
</head>
<body>
    <header>
        <h1 class="main-heading">Climb of Death <span class="sub-heading">Only the Bravest will survive</span></h1>
    </header>

    <div class="paragraph">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, hic excepturi laborum a suscipit nam nemo natus reprehenderit, doloribus molestiae ex veritatis dolorum? Pariatur voluptas debitis beatae, dolores culpa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, qui tenetur debitis amet dignissimos porro commodi repudiandae vitae inventore esse eveniet tempore officiis neque a omnis, molestias, sequi quia quis!</p>
    </div>
    <div class="buttons">
        <button class="button1">Login</button>
        <button class="button2">Sign-up</button>
    </div>
</body>
</html>