<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <title>Sign-up</title>
</head>
<body>
    <header>
        <h1 class="main-heading">Climb of Death <span class="sub-heading">Only the Bravest will survive</span></h1>
    </header>

    <div class="form">
        <form>
                <label class="label">First name:</label>
                <input type="text" id="fname" name="fname" class="input"><br><br>
                <label class="label">Last name:</label>
                <input type="text" id="lname" name="lname" class="input"><br><br>
                <label class="label">Email:</label>
                <input type="text" id="email" class="input"><br><br>
                <label class="label">Password:</label>
                <input type="password" name="pwd" class="input" id="password">

             <div class="submitbtn">
                <input type="submit" value="Sign-up" class="submit">
             </div>
      </form>
    </div>
</body>
</html>